<form>
    <h1>REGISTRATI IN MENO DI 1 MINUTO</h1>
    <br>
    <label>NOME</label>
    <input type="text" ng-model="" placeholder="NOME">
  <br>
 <br>
  <label>COGNOME</label>
  <input type="text" placeholder="COGNOME">
<br>
<br>
<label>CITTA'</label>
    <select>
        <option>seleziona la città</option>
  </select>
  <br>
 <!-- <label>CITTA':</label>
<input  type="text" placeholder="CITTA'">
<br>  -->
    <br>
    <label>EMAIL:</label>
    <input type="text"  placeholder="EMAIL">
  <script>
        localStorage.getItem('francesco', registrati);
   </script>
<br>
<button onclick="registrati">REGISTRATI</button>
</form>